[submodule "Contracts"]
	path = packages/contracts
	url = https://github.com/GoodDollar/GoodContracts.git
	branch = beta
[submodule "Server"]
	path = packages/server
	url = https://github.com/GoodDollar/GoodServer.git
	branch = master
[submodule "DApp"]
	path = packages/dapp
	url = https://github.com/GoodDollar/GoodDAPP.git
	branch = master
[submodule "Gun"]
	path = packages/gun
	url = https://github.com/GoodDollar/GoodGun.git
	branch = master
